<h3>{{user.Name}}</h3>
<hr>
<form class="form-horizontal">
    <div class="form-group">
        <label for="name" class="control-label col-sm-2 col-md-1 text-left">Name</label>
        <div class="col-sm-9 col-md-10">
            <input type="text" id="name" class="form-control" [(ngModel)]="user.Name">
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label col-sm-2 col-md-1 text-left">Email</label>
        <div class="col-sm-9 col-md-10">
            <input type="email" id="email" class="form-control" [(ngModel)]="user.Email">
        </div>
    </div>
    <div class="form-group">
        <label for="passwd" class="control-label col-sm-2 col-md-1 text-left">Password</label>
        <div class="col-sm-9 col-md-10">
            <input type="password" id="passwd" class="form-control" [(ngModel)]="user.Password">
        </div>
    </div>
    <div class="form-group">
        <label for="group" class="control-label col-sm-2 col-md-1 text-left">Group</label>
        <div class="col-sm-8 col-md-9">
            <select name="group" id="group" class="form-control" [(ngModel)]="user.RuleGroupID">
                <option *ngFor="#group of groups" [value]="group.ID" (click)="user.RuleGroup = group">{{group.Name}}</option>
            </select>
        </div>
        <div class="col-sm-1 col-md-1">
            <div class="checkbox">
                <a href="detail.html">编辑</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-2 col-md-offset-1">
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>