
/* html height reset */

html, body {
    height: 100%;
}

.gs-com {
  display: block;
  height: 100%;
}

/* page style */

.welcome {
  display: block;
  text-align: center;
  font-size: 30px;
  font-style: italic;
  position: relative;
  top: 45%;
}

body {
    background: #FFFDFA;
}

h3 {
    font-weight: bold;
    margin-bottom: 20px;
}

label {
    width: 100%;
    color: #797979;
}

.login-box {
    position: relative;
    width: 350px;
    margin: auto;
    border-radius: 5px;
    background: white;
    padding: 10px 25px;
    top: 25%;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.login-btn-box {
    text-align: right;
}

.login-msg {
    color: red;
    line-height: 34px;
}
