<div class="row">
  <div class="col-md-6">
      <div class="dashboard-box">
          <h5 class="dashboard-box-title">未审核运行的 SQL</h5>
          <table class="table">
            <thead>
              <tr>
                <th>创建人</th>
                <th>创建时间</th>
                <th>简述</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>James</td>
                <td>2016-04-23 20:44</td>
                <td title="UPDATE dbcms2.some_table SET some_column = 'some_value' WHERE id = 'some_id'">CMS2 部分数据的修正</td>
                <td><a [routerLink]="['SqlDetail', {id: 5}]">查看</a></td>
              </tr>
              <tr>
                <td>Edward</td>
                <td>2016-04-22 12:55</td>
                <td title="UPDATE dbcms2.some_table SET some_column = 'some_value' WHERE id = 'some_id'">商品数据手动补全</td>
                <td><a href="#">查看</a></td>
              </tr>
              <tr>
                <td>James</td>
                <td>2016-04-22 10:10</td>
                <td title="UPDATE dbcms2.some_table SET some_column = 'some_value' WHERE id = 'some_id'">修改价格披露的BUG</td>
                <td><a href="#">查看</a></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
  <div class="col-md-6">
      <div class="dashboard-box">
          <h5 class="dashboard-box-title">最新运行的 SQL</h5>
          <table class="table">
            <thead>
              <tr>
                <th>创建人</th>
                <th>创建时间</th>
                <th>运行人</th>
                <th>运行时间</th>
                <th>简述</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>James</td>
                <td>2016-04-23 20:44</td>
                <td>Neil</td>
                <td>2016-04-23 20:50</td>
                <td title="UPDATE dbcms2.some_table SET some_column = 'some_value' WHERE id = 'some_id'">CMS2 部分数据的修正</td>
                <td><a href="#">查看</a></td>
              </tr>
              <tr>
                <td>James</td>
                <td>2016-04-22 13:23</td>
                <td>Neil</td>
                <td>2016-04-23 20:48</td>
                <td title="UPDATE dbcms2.some_table SET some_column = 'some_value' WHERE id = 'some_id'">更新商品的标志位</td>
                <td><a href="#">查看</a></td>
              </tr>
              <tr>
                <td>Edward</td>
                <td>2016-04-22 12:55</td>
                <td>Neil</td>
                <td>2016-04-23 20:30</td>
                <td title="UPDATE dbcms2.some_table SET some_column = 'some_value' WHERE id = 'some_id'">插入新的配置数据</td>
                <td><a href="#">查看</a></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>

</div>
